<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} 线程:[%t] %p %l - %m%n"/>
        </Console>

        <RollingFile name="ROLLING" fileName="/tmp/logs/wg-zuul.log"
                     filePattern="/tmp/logs/wg-zuul%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} 线程:[%t] %p %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="51200KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="ROLLING_TASK" fileName="/tmp/logs/wg-zuul.log"
                     filePattern="/tmp/logs/wg-zuul%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} 线程:[%t] %p %l - %m%n"/>
            <Policies>

                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="51200KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="com.jsen" level="debug">
            <appender-ref ref="ROLLING"/>
        </logger>
        <logger name="com.jsen" level="debug">
            <appender-ref ref="ROLLING_TASK"/>
        </logger>

        <Root level="warn">
            <appender-ref ref="Console"/>
        </Root>
    </Loggers>
</Configuration>